@using Hss.Web.ViewModels.Categories
@model CategoriesListViewModel

@{
    ViewData["Title"] = "All";
    int number = 1;
}

<h1>All Categories</h1>

<div asp-validation-summary="All" class="text-danger"></div>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col"><h3>Name</h3></th>
            <th scope="col"><h3>Parent Category</h3></th>
            <th scope="col"><h3>Actions</h3></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model.Categories)
        {
            <tr>
                <th>@(number++)</th>
                <td>
                    <div>
                        <h4>@category.Name</h4>
                    </div>
                </td>
                <td>@category.ParentCategoryName</td>
                <td>
                    <div class="d-flex justify-content-between">
                        <div>
                            <a class="btn btn-success" asp-route-id="@category.Id" asp-area="Administration" asp-controller="Categories" asp-action="Edit">Edit</a>
                            <a class="btn btn-primary" asp-route-id="@category.Id" asp-area="Administration" asp-controller="Categories" asp-action="Details">Details</a>
                            <a class="btn btn-danger" asp-route-id="@category.Id" asp-area="Administration" asp-controller="Categories" asp-action="Delete">Delete</a>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a class="btn btn-primary" asp-area="Administration" asp-controller="Categories" asp-action="Create">Create New</a>
</p>
