@model Hss.Web.ViewModels.Administration.Categories.DetailsCategoryViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="ml-auto">
    <h3>@Model.Name</h3>
</div>
<div class="mx-auto">
    <hr />
    <div class="d-flex justify-content-between">
        <div class="d-flex">
            <img src="@Model.ImageUrl" class="img-thumbnail img-fluid float-left" width="300" />
        </div>
        <div class="ml-auto">
            <a class="btn btn-warning" asp-area="Administration" asp-controller="ServicesController" asp-action="Edit">Edit</a>
            <a class="btn btn-danger" asp-area="Administration" asp-controller="ServicesController" asp-action="Delete">Delete</a>
        </div>
    </div>
    <p>@Model.Description</p>
</div>
<hr />
<h2>Subcategories</h2>
<hr />
<vc:categories-list id="@Model.Id"></vc:categories-list>
<hr />

<div>
    @if (Model.ParentCategoryId != null)
    {
        <a class="btn btn-info" asp-action="Details" asp-route-id="@Model.ParentCategoryId">Back</a>
    }
    else
    {
        <a class="btn btn-info" asp-action="All">Back</a>
    }
</div>
